@model Concert.Models.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Відновлення пароля";
}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <h2 class="text-center mb-4">Відновлення пароля</h2>
        <div class="card shadow-sm">
            <div class="card-body">
                <form asp-action="ForgotPassword" method="post">
                    <div class="form-group mb-3">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Відправити лист</button>
                </form>
            </div>
        </div>
    </div>
</div>